@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@layer components{
 .container {
  @apply max-w-[1440px] mx-auto
 }
}
#swiper-container{
  overflow: visible;
}